

#main_object{
    position:relative;
	width:100%;
	height:700px;
	overflow:hidden;
	cursor:pointer;
    background-image: url(../images/para.png), url(../images/ballon.png), url(../images/para11.png);
    background-position: center bottom, right top, right bottom, left top;
    background-repeat: no-repeat;
	top:12px;
}