@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);	
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.1pt;
    font-size: 14px;
    color: #707070;
    line-height: 26px;
}
* {
    margin: 0;
    outline: medium none;
    padding: 0;
}
.nopad {
    border: medium none !important;
    padding: 0 !important;
}
a, a:hover{
	list-style:none;
	text-decoration:none;
}
h1, h2, h3, h4, h5{
	font-family:'Pt Sans';
	margin:0;
	padding:0;
}
a, p{
	font-family:'Open Sans';
	font-size:14px;
}
ul li{
	text-decoration:none;
	list-style:none;
}
ul, ol{
	margin:0;
	padding:0;
}
img{
	max-width:100%;
}
a.more{
	background:#64ad2f;
	padding: 8px 27px;
	color:#fff;
}
/* header section start */
		
#parallax1{
	width:100%;
	float:left;
	clear:both;
	background:#CCC;
	z-index: 9999;
	position:relative;
	margin-bottom:40px;
	height:776px;
}
#parallax1 .bg1 {
	background: url(../images/header-bg.jpg) 50% 0 no-repeat fixed;
	margin: 0 auto;
	padding: 55px 0 100px 0;
	position: absolute;
	width: 100%;
	z-index: 9999;
	height:816px;
	background-size: cover;
}
#parallax2{
	width:100%;
	height:380px;
	float:left;
	clear:both;
	background:#CCC;
	z-index: -1;
	position:relative;
	text-align:center;
	margin-bottom:40px;
	color:#fff;
}
#parallax2 .bg2 {
	height: 410px;
	margin: 0 auto;
	padding: 140px 0 0 0;
	position: absolute;
	width: 100%;
	z-index: 9999;
}
#parallax3:before {
    content: '';
	width:100%;
	display: inline-block;
	clear:both;
	background: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    top: 0;
}
#parallax3 {
	background: url(../images/1.jpg) 50% 0 repeat fixed;
	margin: 0 auto;
	padding: 160px 0 45px 0;
	width: 100%;
    position: relative;
}
	
#parallax4{
	width:100%;
	float:left;
	clear:both;
	background:#CCC;
	z-index:-1;
	position:inherit;
	text-align:center;
	margin-bottom:40px;
}
#parallax4 .bg4 {
	background: url(../images/2.jpg) 50% 0 repeat fixed;
	margin: 0 auto;
	padding: 160px 0 45px 0;
	position: absolute;
	width: 100%;
}
	
#parallax5{
	width:100%;
	float:left;
	clear:both;
	background:#CCC;
	z-index:-1;
	position:inherit;
	text-align:center;
}
#parallax5 .bg5 {
	background: url(../images/3.jpg) 50% 0 repeat fixed;
	margin: 0 auto;
	padding: 130px 0 45px 0;
	position: absolute;
	width: 100%;
}

	
/* WebDesgin page end */

#main_object{
    position:relative;
	width:100%;
	height:700px;
	overflow:hidden;
	cursor:pointer;
    background-image: url(../images/para.png), url(../images/ballon.png), url(../images/para11.png);
    background-position: center bottom, right top, right bottom, left top;
    background-repeat: no-repeat;
}

.example > div{
	top:-44px;
}
#header .logo{
	margin:-86px 0 50px 0;
}
.navbar-brand h1, .footer-social-icons .logo h1 {
	width: 100%;
	text-align: center;
	color: #f60;
	font-family: Niconne;
	font-size: 60px;
	font-family: 'Righteous', cursive;
    line-height: 34px;	
}
.navbar-header .navbar-brand{
	padding: 0;
}
.navbar-header .navbar-brand h1{
	font-size: 30px;
	line-height: 20px;
}
.navbar-header .navbar-brand h1 span.r{
	font-size: 33px;
}
.navbar-header .navbar-brand h1 span.bl{
	font-size: 13px;
    letter-spacing: 12px;
}
.logo .navbar-brand {
	float: none;
}
.navbar-default {
    background-color: #212121;
    border: none;
}
.navbar-default .navbar-nav>li>a{
	color: #fff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #FF6600;
}
.navbar-brand h1 span.r{
	font-family: 'Baloo Thambi', cursive;
	display: inline-block;
	font-size: 65px;
}
.navbar-brand h1 span.bl, .footer-social-icons .logo h1 span.bl {
    display: block;
    font-family: 'Pt Sans';
    margin-left: 15px;
    font-size: 20px;
    letter-spacing: 20px;
    color: #fff;
}

.top-navigation.clearfix {
    position: absolute;
    top: 130px;
	left:0;
	right:0;
	bottom:0;
	text-align: center;
}

.navigation {
    margin-bottom: 47px;
    display: inline-block;
    margin-left:46px;
}
.navigation .item{
	display:inline-block;
	margin-left:-46px;
	text-align: left;
}

.hex {
    width: 248px;
    position: relative;
	height:150px;
}
.hex i{
	transition: all 0.6s linear 0s;
	margin-bottom:10px;
}
.hex:hover i{
	transition: all 0.6s linear 0s;
	transform:rotate(180deg);
}
.hex:before, .hex:after {
    content:"";
    border-left: 124px solid transparent;
    border-right: 124px solid transparent;
    position: absolute;
}
.hex:before {
    top: -59px;
}
.hex:after {
    bottom: -59px;
}
.hex.inner {
    background-color:#007ac4;
    -webkit-transform: scale(.8, .8);
    -moz-transform: scale(.8, .8);
    transform: scale(.8, .8);
    z-index:1;
}
.hex.inner:before {
    border-bottom: 60px solid #007ac4;
}
.hex.inner:after {
    border-top: 60px solid #007ac4;
}
.hex.inner2 {
    background-color:#ff9900;
    -webkit-transform: scale(.8, .8);
    -moz-transform: scale(.8, .8);
    transform: scale(.8, .8);
    z-index:2;
}
.hex.inner2 a{
	display:block;
	color:#fff;
	text-align:center;
}
.hex.inner2 a p{
	font-family:Niconne;
	font-size:50px;
}
.hex.inner2 a i{
	font-size:75px;
}

.hex.inner2:before {
    border-bottom: 60px solid #ff9900;
}
.hex.inner2:after {
    border-top: 60px solid #ff9900;
}
.hex .single.inner2 {
    background:none;
}	
.hex .single.inner2 {
    background-color:none;
}
.hex .single.inner2:before {
    border-bottom:none;
}
.hex .single.inner2:after {
    border-top:none;
}
.line1 {
    margin-bottom: 30px;
    display: inline-block;
}
.line2 {
    margin-bottom: 30px;
}
.line3 {
    display: inline-block;
}
.shape-ancer{
	position:absolute;
	z-index:1;
	left:0;
	height: 164px;
    overflow: hidden;
    right: 0;
    text-align: center;
}
header .shape-ancer{
	top:43px;
}
.shape {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: hsl(201, 100%, 10%) hsla(0, 0%, 0%, 0) hsla(0, 0%, 0%, 0);
    border-image: none;
    border-style: solid;
    border-width: 8.5em;
    width: 50px;
	display:inline-block;	
}


/* Service section start */

.services{
	background:#ff6600;
	clear:both;
	padding:160px 0 35px 0;
	text-align: center;
}
.services .shape-ancer{
	top:36px;
}
.services h2{
	text-align:center;
	font-size:60px;
	color:#fff;
	margin-bottom:35px;
}
.services h3{
	color:#fff;
	margin-bottom:10px;
}
.services .service-div{
	width:100%;
	text-align:center;
}
.services .service-div:before{
	border-bottom:1px solid red;
	width:50%;
}
.services .service-div:after{
	border-bottom:1px solid red;
	width:50%;
}
.services span.hexagon {
	width: 20px;
	height: 10px;
	background: #007ac4;
	position: relative;
	text-align: center;
	font-size: 60px;
	line-height: 50px;
	color: #fff;
	float: left;
	margin: 0 17px 104px 0;
}
.ser-items > p {
    color: #3e1b04;
}
.services span.hexagon:before{
	border-bottom: 5px solid #007ac4;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -5px;
    width: 0;
 }
.services span.hexagon:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 5px solid #007ac4;
    bottom: -5px;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    width: 0;
}
.services hex i{
	transition: all 0.6s linear 0s;
}
.services hex:hover i{
	transform:rotate(180deg);
	transition: all 0.6s linear 0s;
}

.shape {
	border: 1.5em solid transparent;
	border-top: 1.5em solid #002133;
	border-width: 8.5em;
}

/* Header section end  */

/* Services section start */

.div-wrapper{
	width:100%;
	text-align:center;
	margin-bottom:50px;
}
.divider{
	border:4px solid #EDECEC;
	height:25px;
	width:25px;
	transform:rotate(45deg);
	display:inline-block;
}
.divider:before{
	border:1px solid #EDECEC;
	content:'';
	display:inline-block;
	margin-right:10px;
	width:400px;
	transform:rotate(135deg);
	position:absolute;
	width: 515px;
    top: 209px;
    left: -449px;
}
.divider:after{
	border:1px solid #EDECEC;
	content:'';
	display:inline-block;
	margin-right:10px;
	width:400px;
	transform:rotate(135deg);
	position:absolute;
	width: 515px;
    top: -192px;
    right: -458px;
}

.border-left{
	border:1px solid #d4d4d4;
	height:1px;
	width:46%;
	float:left;
	margin:10px 20px 0 0;
}
.border-right{
	border:1px solid #d4d4d4;
	height:1px;
	width:46%;
	float:right;
	margin:10px 20px 0 0;
}
.ser-items .hex.single.inner {
    height: 150px;
	margin-bottom:50px;
	line-height:150px;
	text-align: left;
	display: inline-block;
}
.services-box{
	margin-top:65px;
}
.ser-items i{
	transition:width 1s, height 1s, transform 1s;
	-webkit-transition:width 1s, height 1s, -webkit-transform 1s;
}
.ser-items:hover i{
	transform:rotate(360deg);
	-webkit-transform:rotate(360deg);
}
.services-box .ser-items{
	margin-bottom:40px;
}
.services-box .hex.inner:before{
	border-bottom: 60px solid #fff;
}
.services-box .hex.inner:after{
	border-top: 60px solid #fff;
}
.services-box .hex.inner2 a i{
	color:#000;
	font-size:175px;
}
.services-box .hex.inner{
	background-color:#fff;
	}
.services-box h2{
	font-size:40px;
	margin-top:40px;
}
.services-box p{
	text-align:center;
}
.services-box .ser-items{
	display:inline-block;
}
.services .shape{
	-moz-border-top-colors: #ff6600;
    border-top-color: #ff6600;
	z-index:3;
}
/* Services section end */



/* Fixed navigation section start */

.navbar-fixed-bottom, .navbar-fixed-top{
	z-index:9999;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
	background:#FF6600;
	color:#fff;
	outline:none;
}
#testimonials{
	text-align:center;
}
	
/* Fixed navigation section start */
	
	
/* Hier videw section start */
	
#video_background{
	left:0;
	width:1349px;
	top:-23px !important;
}
	
.hier{
	padding: 150px 0 80px 0;
}
.hier h1{
	color:#fff;
	text-align:center;
	font-size:60px;
	margin-bottom:25px;
}
.hier p{
	color:#fff;
	font-size:25px;
	text-align:center;
	text-transform:uppercase;
	margin-bottom:35px;
}
.hier ul{
	display:block;
	text-align:center;
	margin-top:30px;
}
.hier .freelance{
	text-align:center;
	display:block;
	margin-bottom:10px;
	color:#fff;
	font-weight:bold;
	font-size:18px;
}
.hier ul li {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}
.hier .hireme-freelancer a {
    background: url(../images/freelancer-hireme-btn.png)no-repeat scroll 0 -38px #169dd8;
    border-color: #169dd8;
}
.hier ul li a {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 38px;
    overflow: hidden;
    position: relative;
    width: 138px;
}
.hier a span.hire-text{
    transition: all 0.5s ease 0s;
}
.hier .hireme-freelancer a span.hire-logo {
    background: url(../images/freelancer-hireme-btn.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.hier a span {
    display: block;
    height: 38px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.hier .hireme-freelancer a span.hire-text {
    background-color: #169dd8;
}
.hier a span.hire-text  {
    color: #ffffff;
    display: block;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    top: 38px;
    z-index: 2;
}
.hier .hireme-odesk a {
    background: url(../images/odesk-hireme-btn.png) no-repeat scroll 0 -38px #72bb33;
    border-color: #72bb33;
}
.hier .hireme-odesk a span.hire-text {
    background-color: #72bb33;
}
.hier .hireme-odesk a span.hire-logo {
    background: url(../images/odesk-hireme-btn.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.hier a:hover span.hire-text{
	top:0;
}
.hier .shape-ancer{
	top:81px;
}
.hier .shape{
	-moz-border-top-colors: #404027;
}

/* Hier videw section start */


/* About section start */

.about{
	background-color:#0191da;
	padding: 145px 0 25px 0;
	text-align:center;
}
.about .hex .divider.inner2:after {
    border-top: 10px solid #0191da;
}
.about h2{
	font-size:50px;
	color:#fff;
	margin-bottom:20px;
}
.about .hex .divider.inner2:before {
    border-bottom: 10px solid #0191da;
}
.about .hex .divider.inner2{
	background-color:#0191da;
}
	
.about h3{
	color:#fff;
	font-size:35px;
	text-align:center;
	margin-top:15px;
}
.about h3 p{
	font-size:25px;
}
.about img{
	opacity:0.40;
	margin-top:20px;
}
.about p{
	text-align:center;
	font-size:16px;
	color:#fff;
	line-height:30px;
}
.about p span{
	color:#000;
	text-transform:uppercase;
}
.about .shape-ancer{
	margin-top:25px;
}
.about .shape{
	-moz-border-top-colors: #0191DA;
    border-top-color: #0191DA;
}

.about .div-wrapper{
	margin-bottom:0px;
}

/* About Us Section End */


/* Skills Section start */

/* skillbar start */
.skillset { padding-top: 50px; }
.skillset .skillbar { background-color: rgba(255, 255, 255, 0.15); font-size: 14px; margin-bottom: 50px; position: relative; width: 100%; }
.skillset .count-bar { background-color: #ff6600; height: 17px; position: relative; width: 100%; width: 0; }
.skillset .title { left: 0; line-height: 25px; position: absolute; text-transform: uppercase; top: -25px;color: #fff; }
.skillset .count-bar .count { color: #ffffff; font-size: 13px; position: absolute; right: -20px; text-align: center; top: -28px; }
.skillset .count-bar .count span { background-color: #ff6600; border-radius: 20px; display: block; height: 20px; line-height: 20px; padding: 0 6px; position: relative; }
.skillset .count-bar .count span:after { border-left: 4px solid transparent; border-right: 4px solid transparent; content: ""; left: 50%; margin-left: -4px; position: absolute; top: 20px; }
.skillset .count-bar .count span:after { border-top:4px solid #ff6600; }
/* skillbar end */


.skills h2{
	color:#fff;
	font-size:50px;
	text-align:center;
	margin-bottom:10px;
}
.progress{
	height:25px;
	border-radius:10px;
}
.progress-bar{
	background-color:#43bd05;
}	
.progress-bar, .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(140, 211, 123, 0.8) 25%, transparent 25%, transparent 50%, rgba(140, 211, 123, 0.8) 50%, rgba(140, 211, 123, 0.8) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.photoshpop{
	margin-top:40px;
}
.css .progress-bar {
    background-color: #0191da;
}
.css .progress-bar, .css .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(123, 171, 211, 0.8) 25%, transparent 25%, transparent 50%, rgba(123, 171, 211, 0.8) 50%, rgba(123, 171, 211, 0.8) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.html .progress-bar {
    background-color: #ff6600;
}
.html .progress-bar, .html .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 162, 150, 0.8) 25%, transparent 25%, transparent 50%, rgba(255, 162, 150, 0.8) 50%, rgba(255, 162, 150, 0.8) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.illustrator .progress-bar {
    background-color: #cc3333;
}
.illustrator .progress-bar, .illustrator .progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(204, 123, 123, 0.8) 25%, transparent 25%, transparent 50%, rgba(204, 123, 123, 0.8) 50%, rgba(204, 123, 123, 0.8) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.javascript .progress-bar {
    background-color: #0c5fa1;
}
.javascript .progress-bar, .javascript .progress-bar-striped { 
    background-image: linear-gradient(45deg, rgba(106, 149, 186, 0.8) 25%, transparent 25%, transparent 50%, rgba(106, 149, 186, 0.8) 50%, rgba(106, 149, 186, 0.8) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}
.skills .shape-ancer{
	top:45px;
}
.skills .shape{
	-moz-border-top-colors: #7D7E80;
}
.skills p{
	text-align:left;
	font-size:18px;
	color:#fff;
}
.skills p span{
	float:right;
}

/* Skills Section end */



/* Our Best Portfolio section start */

.portfolio-rotation{  
	background: #333;
	margin:2px 2px 15px 2px;
	position:relative;
	border:10px solid #ccc;
}
.portfolio-rotation a i, a.link i{
	font-size:40px;
}
.portfolio-rotation:hover img{
	transition:all 0.3s ease-in-out 0s;
}
.portfolio-rotation:hover img{
	-moz-transform:scale(1.011);
}
span.bk-color{
	background:rgba(64, 188, 243, 0.5);
	height:100%;
	width:100%;
	position:absolute;
	opacity:0;
	left:0;
	top:0;
	transition: all 400ms ease 0s;
}
.search-icon, a.link{
	position:absolute;
	top:50px;
	color:#fff;
	opacity:0;
	transition: all 400ms ease 0s;
	font-size:30px;
}
.search-icon{
    right:30%;
}
a.link{
	left:30%;
}
.portfolio-rotation:hover .bk-color{
	-moz-transform:scale(1.011);
}
.portfolio-rotation:hover img{
}
.portfolio-rotation:hover .bk-color,
.portfolio-rotation:hover .search-icon,
.portfolio-rotation:hover a.link{
	opacity:1;
}
.portfolio-rotation:hover .search-icon, .portfolio-rotation:hover a.link{
	top:38%;
}
.portfolio-section  .container{
	position:relative;
	margin-top:-1149px;
}
.bg1{
	background:#2e9bcb;
	height:575px;
	width:auto;
}
.bg2{
	background:#2582ab;
	height:576px;
	width:auto;
}
	
/* Programe section end */

.portfolio-all{
	background-color:#4bb13e;
	clear:both;
	padding:145px 0 35px 0;
	text-align:center;
}
.banner h2{
	color:#fff;
	font-size:50px;
	margin-bottom:30px;
}
.banner h3{
	color:#fff;
	font-size:30px;
}
.banner p{
	font-size:18px;
	margin-top:10px;
}
.banner .div-wrapper{
	margin-bottom:15px ;
}
.sercices.slider{
	background-color:#4bb13e;
}
.slider .hex .divider.inner2:after {
    border-top: 10px solid #4bb13e;
}
.slider .hex .divider.inner2:before {
    border-bottom: 10px solid #4bb13e;
}
.slider .hex .divider.inner2{
	background-color:#4bb13e;
}
.slider h3{
	margin-top:40px;
	color:#fff;
	font-size:50px;
	text-align:center;
}
.slider h3 p{
	font-size:18px;
}

/* For slider */

.laptop-veiw{
	position: relative;
	margin-bottom: 50px;
}
#myCarousel {
    position: absolute;
    top: 228px;
    left: 276px;
    width: 53%;
}
.carousel-inner{
	display:inline-block;
}
.carousel-control.left{
	background:none;
}
.carousel-control.right{
	background:none;
}
.carousel-inner > .item img{
	display: inline-block;
}	
.carousel-indicators{
	bottom:-17px;
	width: 30%;
	right:0;
	left: auto;
}
.carousel-caption{
	display:none;
}
.carousel-control.left{
	background:none;
	border:none;
}
.carousel-control.right{
	background:none;
	border:none;
}
	
/* Slider part end */

	
.portfolio-all .shape {
	margin-top: 36px;
    border-top-color: #4bb13e;
}

	
/* Portfolio sectoin end */

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* ========================================
   Links
   ======================================*/

a:hover, a:active { outline: 0; }

/*=========================================
	Main Styles
=========================================*/

body {
font-family: arial;
font-size: 15px;
line-height: 25px;
color: #515151;
}

.box {
/* if not using border-box 
width: 218px; 
*/
width: 250px;
background: #ffffff;
border: 1px solid #999;
/*padding: 15px;*/
margin: 10px;
float: left;

-webkit-border-radius: 5px;
border-radius: 5px;

-webkit-box-shadow: 0px 0px 5px 1px #aaa;
box-shadow: 0px 0px 5px 1px #aaa;
}

#main {
margin-top: 10px;
}
.element-item{
	width:349px;
	height:300px;
	overflow:hidden;
}
.thumb-img-wrap{
	margin-bottom: 25px;
    max-height: 250px;
    overflow: hidden;
}
.thumb-img-wrap img{
	transition: all 0.8s linear 0s;
}
.thumb-img-wrap:hover img{
	transition: all 0.8s linear 0s;
	margin:-100% 0 0 0;
	cursor:pointer;
}


/* Portfolio sectoin end */

/* TEstimonials section start */

#parallax4{
	color:#C9C9C9;
}
#parallax4 h1{
	color:#F47437;
	margin-bottom:15px;
	font-size:50px;
}
#parallax4 .owl-carousel .owl-item img{
}
#parallax4 p{
	margin-top:15px;
}
#parallax4 i{
	font-size:25px;
	color:#F47437;
}
.test-left{
	display:inline-block;
}
.test-img-wrap img{
	border:2px solid #969696;
	height:100px;
	width:100px !important;
	line-height:100px;
	border-radius:50%;
	margin-bottom:5px;
}
.owl-prev {
    position: absolute;
    top: 35px;
}
.owl-next {
    position: absolute;
    top: 35px;
	left:15px;
}

#parallax4 .shape-ancer{
	top:45px;
}
#parallax4 .shape{
	-moz-border-top-colors: #05080D;
}


/* TEstimonials section end */


/* Footer-top section start */

.footer-top{
	background-color:#28599e;
	text-align:center;
	padding:575px 0 25px;
}
.footer-top h2{
	font-size:50px;
	color:#fff;
	margin-bottom:30px;
}
.footer-top .shape-ancer{
	top:26px;
}
	
/* For google map */	
.fluid-wrapper {
    position: relative;
    padding-bottom: 25%; /* 16:9 */
    height: 0;
	margin:50px 0 25px 0;
}
.fluid-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* For google map */

.foot-contact ul li{
	display:inline-block;
	margin-right:25px;
	} 
.foot-contact i{
	border:1px solid #fff;
	border-radius:50%;
	height:35px;
	width:35px;
	line-height:35px;
	text-align:center;
	display:inline-block;
	color:#fff;
	font-size:25px;
	margin-right:10px;
}
.foot-contact a i{
	font-size:15px;
}
.foot-contact a:hover p{
	color:#000;
} 
 
.foot-contact p{
	color:#fff;
	display:inline-block;
	font-size:18px;
}
	
/* footer social icon start*/
.stButton{
	margin:0 !important;
}
.stButton .stButton_gradient{
	height:21px !important;
}

.social-roll ul li:hover i{
	background-color:#666;
}
/* Share this start */

.foot-contact.social.social-roll{
	margin-top:8px;
	text-align:right;
}	
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices{
	height:22px;
	line-height:16px;
}
.stButton .stButton_gradient{
	height:22px;
}

/* Share this end */

.form-control{
	background-color:#1e4377;
	color:#cccccc;
	border-radius: 0;
}
.form-group input.form-control{
	height: 45px;
}	
.email .btn{
	padding:7px 55px;
	border-radius:25px;
	text-transform: uppercase;
    font-size: 18px;
}
.email .form-control::-moz-placeholder{
	color:#cccccc;
}
.footer-top .shape{
	-moz-border-top-colors: #28599e;
    border-top-color: #28599e;
}

/* footer social icon end*/

#parallax5 .sicialise ul{
	margin-bottom:25px;
}
#parallax5 p{
	color:#fff;
	font-size:18px;
}
footer-social-icons ul li{
	margin-right:5px;
}
.footer-social-icons ul li a{
	height: 37px;
	width: 37px;
	line-height:37px;
	border:1px solid #CCC;
	color:#fff; 
	font-size:20px;
	float: left;
	border-radius: 50%;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.5s;
	transition: all ease 0.3s;
	padding:0;
	text-align:center;
	display:inline-block;
}
.footer-social-icons ul li a:hover{
	background-color:#ff6600;
	transform:rotate(360deg);
	display:block;
}
.footer-social-icons ul li{
	height:30px;
	display:inline-block;
}
.footer-social-icons ul li a{
	margin:0 10px 0 0;
	display:block;
}
.g-recaptcha {
    clear: both;
    text-align: center;
    display: inline-block;
}

/* Footer-top section end */

.top {
    background-color: #393;
    border: 1px solid #fff;
    bottom: 0;
    position: fixed;
    right: 55px;
    z-index: 120;
	cursor:pointer;
}
.top a{
	color:#fff;
	display:block;
	padding: 10px 5px;
}

.isotop-menu {
    text-align: center;
    display: inline-block;
}
.isotope {
    margin-top: 30px;
}
.isotop-toggle {
    display: none;
}
.isotop-collapse.collapse {
    display: block !important;
}

