/*
Contact Form by html-form-guide.com
You can customize all the aspects of the form in this style sheet
All the style elements use form id selector(notice the #contactus). So, including this
stylesheet does not affect the other elements at all!
*/

/*#contactus fieldset
{
   width:320px;
   padding:20px;
   border:1px solid #ccc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;   
}*/

.row.form-group {
    background: rgb(30, 67, 119);
    padding: 15px;
    display: flex;
}
.cap-img {
    margin: auto;
    margin-left: 45px;
}
.cap-input{
  text-align: left;
}
.cap-input label {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    display: block;
}
.short_explanation a {
    font-size: 12px;
    color: #adadad;
}
.short_explanation a:hover {
    font-size: 12px;
    color: #75aeff;
}
input#scaptcha {
    width: 50%;
}
.col-md-12.clearfix {
    clear: both;
}

#contactus .error
{
   font-size: 0.7em;
   color: #900;
   background-color : #ffff00;
}

#contactus fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

#contactus fieldset#antispam legend
{
   font-size: 0.8em;
   font-weight:bold;
   color:#333;   
}
.short_explanation {
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
}
#contactus .cap-input .short_explanation
{
   font-size: 11px;
   color:#fff;  
   margin-bottom: 0px; 
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#contactus .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#fg_crdiv
{
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
#fg_crdiv p
{
    display:none;
}