/* Font colors */

$base-font-size: 1.4rem;
$base-font-family: 'Roboto',
sans-serif;
$base-font-color: #363636;

/* Background Colors */
$primary-color: #ff3f00;
$secondary-color: #19323b;
$white: #fff;
$black:#000;