footer {
  .contact-content {
    padding: 0;
    position: relative;

    @media (min-width: 768px) {
      display: flex;
    }

    .left-aside,
    .right-aside {
      @media (min-width: 768px) {
        width: 50%;
      }
    }

    .left-aside {
      background: url(../images/section-testimonials-bg-01.jpg) no-repeat center 0/cover;
      color: darken($white, 30%);

      @media (min-width:992px) {
        padding: 6rem 10rem 6rem 8.33%;
      }

      &-wrap {
        max-width: 50rem;
        margin: 0 auto;
        padding: 3rem 1.5rem;

        @media (min-width:768px) {
          max-width: auto;
          margin: 0 auto;
          padding: 0;
        }
      }

      a {
        color: darken($white, 30%);

        &:hover {
          color: $white;
        }
      }

      .item {
        margin-bottom: 1.5rem;

        &:last-child {
          margin-bottom: 0;
        }

        h5 {
          margin-bottom: 0.5rem;
        }
      }

      .list-contact {
        li {
          margin-bottom: 1rem;

          i {
            margin-right: 1rem;
          }
        }
      }

      .list-social {
        li {
          margin-right: 1rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .block-rotate {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      color: #000;
      padding: 3rem 1.5rem;


      @media (min-width: 768px) {
        width: 18.5rem;
        height: 18.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%) rotate(45deg);

        @media (min-width: 992px) {
          width: 26.5rem;
          height: 26.5rem;
        }
      }

      .text-rotate {
        text-align: center;

        @media (min-width: 768px) {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }

        .title {
          color: $primary-color;
          margin-bottom: 1rem;
        }

        p {
          margin-bottom: 0.2rem;
        }
      }
    }

    .right-aside {

      #map {
        width: 100%;
      }
    }
  }

  .footer-bottom {
    background: lighten($black, 5%);
    padding: 1rem;

    p {
      margin-bottom: 0;

      a {
        color: $primary-color;

        &:hover {
          color: $white;
        }
      }
    }
  }
}


.scrollToTop {
  position: fixed;
  bottom: 12px;
  right: 5px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 1rem 0.2rem 0.5rem;
  padding: 0.1rem 0.3rem 0.4rem 0.4rem;
  z-index: 1;
  font-size: 2.5rem;
  color: $white;

  img {
    max-width: 2rem;
  }
}

/*message pupop css*/
#addClass {
  position: absolute;
  bottom: 15.1%;
  right: 0.4%;
  font-size: 50%;
  background: darken($primary-color, 10%);
  padding: 1rem;
  border-radius: 50%;
  z-index: 99;
  position: fixed;
}

.popup-box {
  background-color: #ffffff;
  border: 1px solid #b0b0b0;
  bottom: 0;
  display: none;
  height: 415px;
  position: fixed;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 300px;
  z-index: 999;

  @media (min-width: 576px) {
    right: 67px;
    left: auto;
  }
}

.round.hollow {
  color: #fff;

  i {
    font-size: 2rem;
  }
}

.popup-box-on {
  display: block !important;
}

.popup-box .popup-head {
  background-color: #fff;
  clear: both;
  color: #7b7b7b;
  display: inline-table;
  font-size: 21px;
  padding: 7px 10px;
  width: 100%;
  font-family: Oswald;
}

.bg_none i {
  line-height: 30px;
}

.bg_none {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
}

.popup-box .popup-head .popup-head-right {
  margin: 0.3rem 0.7rem 0;
}


.popup-head-left img {
  border: 1px solid #7b7b7b;
  border-radius: 50%;
  width: 44px;
}

.popup-messages-footer>textarea {
  border-bottom: 1px solid #b2b2b2 !important;
  height: 34px !important;
  margin: 7px;
  padding: 5px !important;
  border: medium none;
  width: 95% !important;
  color: #000;
  font-size: 15px;
}

.popup-messages-footer {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.popup-messages-footer .btn-footer {
  overflow: hidden;
  padding: 2px 5px 10px 6px;
  width: 100%;
  display: flex;
}

.simple_round {
  background: #d1d1d1 none repeat scroll 0 0;
  border-radius: 50%;
  color: #4b4b4b !important;
  height: 21px;
  padding: 0 0 0 1px;
  width: 21px;
}

.popup-box .popup-messages {
  background: #3f9684 none repeat scroll 0 0;
  height: 275px;
  overflow: auto;
}

.direct-chat-messages {
  overflow: auto;
  padding: 10px;
  transform: translate(0px, 0px);

}

.popup-messages .chat-box-single-line {
  border-bottom: 1px solid #a4c6b5;
  height: 12px;
  margin: 7px 0 20px;
  position: relative;
  text-align: center;
}

.popup-messages abbr.timestamp {
  background: #3f9684 none repeat scroll 0 0;
  color: #fff;
  padding: 0 11px;
}

.popup-head-right .btn-group1 {
  display: inline-flex;
  margin: 0 8px 0 0;
  vertical-align: top !important;
}

.chat-header-button {
  padding: 0;
}

.chat-header-button i {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #636364;
  border-radius: 50%;
  font-size: 14px;
  height: 30px;
  width: 30px;
  line-height: 30px;
}

.popup-head-right .btn-group1 .dropdown-menu {
  border: medium none;
  min-width: 122px;
  padding: 0;
}

.popup-head-right .btn-group1 .dropdown-menu li a {
  font-size: 12px;
  padding: 3px 10px;
  color: #303030;
}

.popup-messages abbr.timestamp {
  background: #3f9684 none repeat scroll 0 0;
  color: #fff;
  padding: 0 11px;
}

.popup-messages .chat-box-single-line {
  border-bottom: 1px solid #a4c6b5;
  height: 12px;
  margin: 7px 0 20px;
  position: relative;
  text-align: center;
}

.popup-messages .direct-chat-messages {
  height: auto;
}

.popup-messages .direct-chat-text {
  background: #dfece7 none repeat scroll 0 0;
  border: 1px solid #dfece7;
  border-radius: 2px;
  color: #1f2121;
}

.popup-messages .direct-chat-timestamp {
  color: #fff;
  opacity: 0.6;
}

.popup-messages .direct-chat-name {
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 0 49px !important;
  color: #fff;
  opacity: 0.9;
}

.popup-messages .direct-chat-info {
  display: block;
  font-size: 12px;
  margin-bottom: 0;
}

.popup-messages .big-round {
  margin: -9px 0 0 !important;
}

.popup-messages .direct-chat-img {
  border: 1px solid #fff;
  background: #3f9684 none repeat scroll 0 0;
  border-radius: 50%;
  float: left;
  height: 40px;
  margin: -21px 0 0;
  width: 40px;
}

.direct-chat-reply-name {
  color: #fff;
  font-size: 15px;
  margin: 0 0 0 10px;
  opacity: 0.9;
}

.direct-chat-img-reply-small {
  border: 1px solid #fff;
  border-radius: 50%;
  float: left;
  height: 20px;
  margin: 0 8px;
  width: 20px;
  background: #3f9684;
}

.popup-messages .direct-chat-msg {
  margin-bottom: 10px;
  position: relative;
}

.popup-messages .doted-border::after {
  background: transparent none repeat scroll 0 0 !important;
  border-right: 2px dotted #fff !important;
  bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
}

.popup-messages .direct-chat-msg::after {
  background: #fff none repeat scroll 0 0;
  border-right: medium none;
  bottom: 0;
  content: "";
  left: 17px;
  margin: 0;
  position: absolute;
  top: 0;
  width: 2px;
  display: inline;
  z-index: -2;
}

.direct-chat-text::after,
.direct-chat-text::before {

  border-color: transparent #dfece7 transparent transparent;

}

.direct-chat-text::after,
.direct-chat-text::before {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: transparent #d2d6de transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: medium;
  content: " ";
  height: 0;
  pointer-events: none;
  position: absolute;
  right: 100%;
  top: 15px;
  width: 0;
}

.direct-chat-text::after {
  border-width: 5px;
  margin-top: -5px;
}

.popup-messages .direct-chat-text {
  background: #dfece7 none repeat scroll 0 0;
  border: 1px solid #dfece7;
  border-radius: 2px;
  color: #1f2121;
}

.direct-chat-text {
  background: #d2d6de none repeat scroll 0 0;
  border: 1px solid #d2d6de;
  border-radius: 5px;
  color: #444;
  margin: 5px 0 0 50px;
  padding: 5px 10px;
  position: relative;
}

.btn.dropdown-toggle.btn-default {
  background: #fff;
  border: 1px solid #ccc;
}

/*css for scrullto bottom*/
.arrow {
  position: absolute;
  bottom: 150px;
  left: 50%;
  margin-left: -20px;
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  background-image: url(../images/scrolldown.gif);
  background-size: contain;
  z-index: 2;
  cursor: pointer;
}