/* Subscribe scss */
.subscribe {
    background: #f6f6f6;
    padding: 1.5rem 0;

    .subscription {
        max-width: 80rem;
        margin: 0 auto;

        input {
            border-radius: 0;
        }

        button {
            &:hover {
                color: $white;
            }
        }
    }
}